#hero {
  .img-fluid {
    width: 100%;
  }
  carousel-item {
    display: inline-block;
  }
  .carousel-caption {
    max-width: 1140px;
    margin:auto;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    p {
      font-size: 46px;
      text-align: center;
      display:none;
      background: rgba(255, 255, 255, 0.7);
      padding:25px;
      line-height: 50px;
    }
  }
  .cta {
	  margin-top: 20px;
  }
}
//only show borders if hero/slider is in first position

#hero.header {
  margin-bottom: 75px;
}

#mobile-hero-text {
  display: block;
  text-align: center;
  padding: 25px 0;
  p {
    font-size: 26px;
    br {
      display: none;
    }
  }
}
//Mobile Stuff
@media (min-width: 992px){
  #hero {
    .carousel-caption {
      p {
        display:inline-block;
      }
    }
  }
  #mobile-hero-text {
    display: none;
  }
}
