#hero {
  .img-fluid {
    width: 100%;
  }
  .carousel-item.overlay-dark:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
  }
  .carousel-item.overlay-light:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(255,255,255,0.6);
  }
  .carousel-caption {
    margin: auto;
    max-width: 1140px;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;

    .slide-text {
      text-align: center;
      display: none;

      p {
        font-size: 26px;
      }
    }
  }
  a.button {
    display: inline-block;
    margin: 15px 0 25px 0;
  }
  // video background
  video {
    width:100%;
    height: auto;
  }
}
//only show borders if hero/slider is in first position

#hero.header {
  margin-bottom: 75px;
}

#mobile-hero-text {
  display: block;
  padding: 25px 0;
  h1,h2,h3,h4,h5,h6,p{
    text-align: center !important;
  }
  p {
    font-size: 20px;
  }
}
//Mobile Stuff
@media (min-width: 992px) {
  #hero {
    .carousel-caption {
      .slide-text {
        display: block;
      }
    }
  }
  #mobile-hero-text {
    display: none;
  }
}