#blog-post-boxes{
  .post-meta {
    margin-top: 10px;
    .post-date,.post-author {
      margin:0 10px 0 0;
      font-size: 15px;
    }
  }
  h3 {
    font-size: 24px;
    line-height: 28px;
    margin:15px 0;
  }
  .featured-image img {
    width:100%;
  }
}